html{
    font-family:  Helvetica, sans-serif;
    font-size: 20px;
}

.container{
    margin-left: 1.5em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    height: 22rem;
    flex-wrap: wrap;
    align-items: center;
    
    gap: 0.3em;
}

span{
    border: 1px solid black;
    padding: 0.5em 1em;
}

span:nth-child(1){
    order: 9;
}
span:nth-child(2){
    order:2;
}
span:nth-child(3){
    order:10;
}
span:nth-child(4){
    order:4;
}
span:nth-child(5){
    order:8;
}
span:nth-child(6){
    order:7;
}
span:nth-child(7){
    order:11;
}
span:nth-child(8){
    order:5;
}
span:nth-child(9){
    order:6;
}
span:nth-child(10){
    order:12;
}
span:nth-child(11){
    order:1;
}
span:nth-child(12){
    order: 3;
}