@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1060px;
  margin: 2em auto;
  padding: 70px 2em;
  background-color: #85dcff;
}

.image-wrapper {
  flex: 0 0 290px;
}

.image-wrapper img {
  display: block;
  width: 360px;
  height: 485px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.75);
}

.contetn-wrapper h1 {
  font-size: 44px;
  font-weight: 700;
}
.contetn-wrapper p {
  margin: 32px 0;
  font-size: 15px;
}

.buttons {
    display: flex;
}

.buttons a { 
    text-decoration: none;
    color: black;
    border-radius: 4px;
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
    padding: 14px 30px;
    
}
.buttons a:nth-child(1) { 
    border: 1px solid black;
    background-color: #42aa59;
}
.buttons a:nth-child(1):hover {
    background-color: black;
    color: white;
} 

.btn-hovered {  
    margin-right: 14px;
}

