body{
    background-color: #CCCCCC;
    padding: 0px;
    margin: 0px;
}

.container{
    background-color: #444;
    padding: 20px;
}

ul{
    
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li{
    display: inline-block;
    padding-right: 30px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
}