html{
    font: 16px/1.5 Helvetica, sans-serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 2.5em;
}

.container section{
    flex: 0 0 200px;
}
