*{
    box-sizing: border-box;
}

.wrapper{
    padding: 15px 5px 15px;
    width: 480px;
    background-color: #f9f7cf;
}
header, footer{
    background-color: #f2dcbb;
    padding: 8px 8px 8px 12px;
}
main{
    padding: 2px;
    font-size: 16px;
    
}