body{
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    background-color: rgb(238,238,238);
    color: rgb(51,51,51);
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
article{
    width: 60%;
}
img{
    width: 70%;
}
header p{
    margin-bottom: 50px;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 26px;
}
h1,h2{
    font-family: 'Times New Roman', Times, serif;
}
span{
    font-size: 20px;
}
ul{
    line-height: 22px;
}
.page-footer{
    margin-top: 22px;
}